{% extends "base.html" %}

{% block title %}
Edit Parameter Value
{% endblock %}

{% block content %}

<h3>

    Edit Parameter Value

</h3>

<hr>

<p>

    Recipe:
    <strong>{{ recipe_code }}</strong>

</p>

<p>

    Version:
    <strong>{{ selected_version }}</strong>

</p>

<p>

    <strong>
        Parameter:
    </strong>

    {{ parameter.parameter_name }}

</p>

<p>

    <strong>
        PLC Tag:
    </strong>

    {{ parameter.plc_tag_name }}

</p>

<p>

    <strong>
        Unit:
    </strong>

    {{ parameter.unit }}

</p>

<p>

    <strong>
        Allowed Range:
    </strong>

    {{ parameter.min_value }}

    -

    {{ parameter.max_value }}

    {{ parameter.unit }}

</p>

<form method="POST">

    <p>

        Value

    </p>

    <input
        type="number"
        step="any"
        name="parameter_value"
        value="{{ parameter.parameter_value }}"
        required
    >

    <br><br>

    <button type="submit">

        Save Value

    </button>

    <a href="/recipes/{{ recipe_code }}/parameters">

        Cancel

    </a>

</form>

{% endblock %}